
//-------------------------------------------------------------------
//---------------------- Color Definitions


//---------------------- Gray tone colors
$black        = #000
$gray-darker  = #222
$gray-dark    = #333
$gray         = #555
$gray-light   = #999
$gray-lighter = #eee
$white        = #FFF



//---------------------- Accent colors
$blue      = #049cdb
$blue-dark = #0064cd
$green     = #46a546
$red       = #9d261d
$yellow    = #ffc40d
$orange    = #f89406
$pink      = #c3325f
$purple    = #7a43b6


//---------------------- Scheme colors
$base-color      = $blue
$primary-color   = $blue-dark;
$secondary-color = $gray-light;
$cta-color       = $orange;
