.curcal
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;

.curcal-response
{
  margin-top: 2em;
  area()
}

input[type=submit]
  margin: 0 2em;

.admin
  text-align: center;

  >*
    margin: 2em 0;

.admin-reset-db
  width: 50%;
  transition: 0.2s;
  button: $cta-color;
  hover-pop()