.layout
  background-color: $gray-lighter;

.l-header
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 3px 3px #BBB;
  background-color: $gray-light;
  padding: 5px;

.l-body
  margin-top: 70px;
  width: 100%;

.l-content
  background-color: $white;
  padding: 2em;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  margin: 0 auto;
  max-width: 800px;
